<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/speaking">Speaking</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			Created with GitHub Pages | <li><a href="https://github.com/andrewmckeemaths">github.com/andrewmckeemaths</a></li>
				</ul>
			</footer>
		</body>
	</html>
